// Dark theme colors
$blue-dark-primary: #2c74b3;
$blue-dark-secondary: #205295;
$blue-dark-tertiary: #144272;
$blue-dark-base: #0a2647;
// Light theme colors
$blue-light-primary: #769fcd;
$blue-light-secondary: #b9d7ea;
$blue-light-tertiary: #d6e6f2;
$blue-light-base: #f7fbfc;

// Border radius
$br-min: 8px;
$br-max: 16px;

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.swal2-container {
  z-index: 10000;
}
