// Dark theme colors
$blue-dark-primary: #2C74B3;
$blue-dark-secondary: #205295;
$blue-dark-tertiary: #144272;
$blue-dark-base: #0A2647;
// Light theme colors
$blue-light-primary: #769FCD;
$blue-light-secondary: #B9D7EA;
$blue-light-tertiary: #D6E6F2;
$blue-light-base: #F7FBFC;

// Border radius
$br-min: 8px;
$br-max: 16px;


.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}