// Dark theme colors
$blue-dark-primary: #2C74B3;
$blue-dark-secondary: #205295;
$blue-dark-tertiary: #144272;
$blue-dark-base: #0A2647;
// Light theme colors
$blue-light-primary: #769FCD;
$blue-light-secondary: #B9D7EA;
$blue-light-tertiary: #D6E6F2;
$blue-light-base: #F7FBFC;
